<div>
    <div>
        <strong id="rec-title" v-show="showRecTitle">{{this.recName}}</strong>&nbsp;&nbsp;&nbsp;
        <div id="renamed-recipe-name" v-show="showRename">
            <input id="rename-rec-input" placeholder="New Name..." type="text" v-model="rename">
            <button @click="applyRecRename" class="btn" id="apply-rec-rename"><img src="images/apply.png"></button>
            <button @click="cancelRecRename" class="btn" id="cancel-rec-rename"><img src="images/cancel.jpg"></button>
        </div>
        <button @click="editRecName" class="btn disabled" id="edit-rec-name" v-show="!showRename"><img
                src="images/edit.jpg"></button>
        <button @click="delRec" class="btn disabled" id="del-rec" v-show="!showRename"><img src="images/del.png">
        </button>
        <button @click="plusIng" class="btn text-primary" data-placement="left" data-toggle="tooltip"
                id="plus-ing" title="Add ingredient">+
        </button>
    </div>
    <div id="recipe-details-container">
        <ul id="recipe-details">
            <li class="ingItem" v-for="(ing,idx) in currentRec.ingredients">
                <button @click="editIng(idx)" class="edit-recipes btn">
                    <img src="images/edit.jpg">
                </button>
                <button class="btn openModal" data-target="#cont-del-modal" data-toggle="modal" type="button">
                    <img src="images/del.png" style="width:30px;height:30px;">
                </button>
                {{this.line(ing)}}
            </li>
        </ul>
        <form class="form-inline" id="make-ing" v-show="displayIngDiv">
            <label class="sr-only" for="quantity">Quantity</label>
            <input class="form-control mb-2 mr-sm-2 inputIngInfo" id="quantity" placeholder="Quantity" type="text"
                   v-model="quantity"/>
            <label class="sr-only" for="unit-dropdown">Unit</label>
            <select class="form-control mb-2 mr-sm-2 " id="unit-dropdown" v-model="unit">
                <option selected>Unit</option>
                <option v-for="unit in unitList">{{unit}}</option>
            </select>
            <label class="sr-only" for="name">Name</label>
            <input class="form-control mb-2 mr-sm-2 inputIngInfo" id="name" placeholder="The Food's Name"
                   type="text" v-model="name"/>
            <div class="btn-group" role="group">
                <button @click="applyAddIng" class="btn"><img src="images/apply.png"></button>
                <button @click="cancelAddIng" class="btn"><img src="images/cancel.jpg"></button>
            </div>
        </form>
    </div>
</div>