<div id="left-titles">
    <strong class="text-primary">
        <h2>Recipes:</h2>
    </strong>
    <button @click="showAddRecDiv" class="btn text-primary" data-placement="right" data-toggle="tooltip" id="plus-rec"
            title="Add recipe">+
    </button>
</div>
<hr>
<div id="left-pane">
    <!--    <div data-offset="0" data-spy="scroll" data-target="#recipe-list">-->
    <ul class="list-group" id="recipe-list">
        <button :class="{active:rec.active}" @click="clickRec(idx)" class="list-group-item list-group-item-action"
                type="button" v-for="(rec,idx) in recipeList">{{rec.name}}
        </button>
    </ul>
    <div id="add-rec-div" v-show="showAddRec">
        <input id="new-recipe-name" placeholder="New Recipe name..." type="text" v-model="this.recName">
        <div aria-label="Basic example" class="btn-group" role="group">
            <button @click="addRec" class="btn" id="add-rec"><img src="images/apply.png"></button>
            <button @click="cancelAddRec" class="btn" id="cancel-add-rec"><img src="images/cancel.jpg"></button>
        </div>
    </div>
</div>